p {
  margin: 0px;
}

body{
  background-color: rgb(248, 248, 248);
  margin: 0px;
  padding-top: 80px;
  padding-left: 96px;
  padding-right: 24px;
  padding-bottom: 20px;
  font-family: roboto,arial;
}

a{
  text-decoration: none;
  color: black;
}