.header{
  background-color: white;
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 100;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(216, 216, 216);
  
}

.left-section{
  display: flex;
  align-items: center;
}

.hamburger-menu{
  height: 24px;
  margin-left: 24px;
  margin-right: 24px;
}

.youtube-logo{
  height: 20px;
}

.middle-section{
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
  display: flex;
  align-items: center;
}

.searchbar{
  flex: 1;
  height: 40px;
  padding-left: 10px;
  font-size: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(202, 202, 202);
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba( 0, 0, 0, 0.05);
  width: 0px;
}

.searchbar::placeholder{
  font-size: 16px;
}

.search-button{
  height: 40px;
  width: 66px;
  background-color: rgb(245, 245, 245);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(202, 202, 202);
  margin-left: -1px;
  margin-right: 10px;
  position: relative;
}

.search-button,.voice-button,.create-icon-container,.ytapp-icon-container,.notification-icon-container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-button .tooltip,.voice-button .tooltip,.create-icon-container .tooltip,.ytapp-icon-container .tooltip,.notification-icon-container .tooltip{
  position: absolute;
  background-color: rgb(114, 114, 114);
  color: white;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 6px;
  padding-bottom: 6px;
  bottom: -55px;
  opacity: 0;
  pointer-events: none;
  transition: 0.15s;
  white-space: nowrap;
}

.search-button:hover .tooltip, .voice-button:hover .tooltip, .create-icon-container:hover .tooltip,.ytapp-icon-container:hover .tooltip,.notification-icon-container:hover .tooltip{
  opacity: 1;
}

.search-icon{
  height: 25px;
}

.voice-button{
  height: 38px;
  width: 38px;
  background-color: rgb(250, 250, 250);
  border-radius: 50%;
  border-style: solid;
  border-width: 0px;
  position: relative;
}

.voice-search-icon{
  height: 25px;
}

.right-section{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 190px;
  margin-right: 20px;
  flex-shrink: 0;
}

.create-icon{
  height: 25px;
}

.ytapp-icon{
  height: 25px;
}

.notification-icon-container{
  position: relative
}

.notification-icon{
  height: 25px;
}

.notification-num{
  position: absolute;
  background-color: rgb(204, 0, 0);
  color: white;
  font-size: 10px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 1px;
  padding-bottom: 1px;
  border-radius: 50%;
  top: 0px;
  right: -2px;
}

.myprofile-icon{
  height: 33px;
  border-radius: 50%;
}