.sidebar{
position: fixed;
left: 0;
top: 55px;
bottom: 0;
background-color: white;
width: 72px;
padding-top: 5px;
z-index: 200;
}

.sidebar-link{
height: 74px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
cursor: pointer;
}

.sidebar-link img{
  height: 24px;
  width: 24px;
  margin-bottom: 6.5px;
}

.sidebar-link div{
  font-size: 10px;
}

.sidebar-link:hover{
  background-color: rgb(235, 235, 235);
}