.thumbnail {
  width: 100%;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.channelpfp {
  width: 36px;
  border-radius: 50%;
  margin-top: 8px;
}

.title {
  font-size: 14px;
  font-weight: 600;
  margin-top: 8px;
}

.channelname {
  font-size: 12px;
  margin-top: 10px;
  color: rgb(96, 96, 96);
}

.views {
  font-size: 12px;
  margin-top: 4px;
  color: rgb(96, 96, 96)
}

.video-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 18px;
  row-gap: 40px;
}

@media (max-width: 750px) {
  .video-grid {
    grid-template-columns: 1fr 1fr ;
  }
}

@media (min-width: 751px) and (max-width: 999px) {
  .video-grid{
  grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.thumbnail-container{
  position: relative;
}

.video-time{
  background-color: black;
  color: white;
  position: absolute;
  right: 6px;
  bottom: 12px;
  font-weight: 500;
  font-size: 12px;
  padding: 4px;
  border-radius: 2px;
}

.channelpic{
  position: relative;
}
